In [ ]:
# importing pandas
import pandas as pd
#importing numpy
import numpy as np
#importing matplotlib
import matplotlib.pyplot as plt
#importing seaborn
import seaborn as sb

In [2]:
import pandas as pd
df=pd.read_csv('amsterdam_weekends.csv')

In [3]:
df.head(5)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,319.640053,Private room,False,True,2.0,False,0,1,9.0,88.0,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137
1,1,347.995219,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103
2,2,482.975183,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663
3,3,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508
4,4,2771.541724,Entire home/apt,False,False,4.0,True,0,0,10.0,100.0,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749

In [4]:
df.shape

(977, 20)

In [5]:
df.columns

Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977 entries, 0 to 976
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  977 non-null    int64
 1   realSum                     977 non-null    float64
 2   room_type                   977 non-null    object
 3   room_shared                 977 non-null    bool
 4   room_private                977 non-null    bool
 5   person_capacity             977 non-null    float64
 6   host_is_superhost           977 non-null    bool
 7   multi                       977 non-null    int64
 8   biz                         977 non-null    int64
 9   cleanliness_rating          977 non-null    float64
 10  guest_satisfaction_overall  977 non-null    float64
 11  bedrooms                    977 non-null    int64
 12  dist                        977 non-null    float64
 13  metro_dist                  977 non-null    float64
 14  attr_index                  977 non-null    float64
 15  attr_index_norm             977 non-null    float64
 16  rest_index                  977 non-null    float64
 17  rest_index_norm             977 non-null    float64
 18  lng                         977 non-null    float64
 19  lat                         977 non-null    float64
dtypes: bool(3), float64(12), int64(4), object(1)
memory usage: 132.7+ KB

In [7]:
df.describe()

,Unnamed: 0,realSum,person_capacity,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
count,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000
mean,488.000000,604.828018,2.769703,0.254862,0.094166,9.470829,94.685773,1.302968,2.806345,1.089285,266.868700,14.129476,329.132787,28.692478,4.889697,52.364387
std,282.179907,443.682821,1.019876,0.436007,0.292209,0.830649,6.632364,0.732949,2.036602,0.826555,193.156767,10.226766,214.384885,18.689216,0.038575,0.018213
min,0.000000,165.912872,2.000000,0.000000,0.000000,2.000000,20.000000,0.000000,0.015045,0.036517,40.890060,2.164941,50.823991,4.430632,4.775950,52.290310
25%,244.000000,362.758653,2.000000,0.000000,0.000000,9.000000,93.000000,1.000000,1.410043,0.467145,132.719465,7.026888,170.682205,14.879391,4.869240,52.354550
50%,488.000000,491.645771,2.000000,0.000000,0.000000,10.000000,96.000000,1.000000,2.314549,0.876169,208.904591,11.060542,266.956967,23.272239,4.888100,52.365180
75%,732.000000,716.612378,4.000000,1.000000,0.000000,10.000000,99.000000,2.000000,3.610169,1.500856,366.687247,19.414411,438.109342,38.192618,4.906240,52.375250
max,976.000000,8130.668104,6.000000,1.000000,1.000000,10.000000,100.000000,5.000000,11.195932,4.411905,1888.737455,100.000000,1147.104769,100.000000,5.010770,52.415380

In [8]:
df.isnull().sum()

Unnamed: 0                    0
realSum                       0
room_type                     0
room_shared                   0
room_private                  0
person_capacity               0
host_is_superhost             0
multi                         0
biz                           0
cleanliness_rating            0
guest_satisfaction_overall    0
bedrooms                      0
dist                          0
metro_dist                    0
attr_index                    0
attr_index_norm               0
rest_index                    0
rest_index_norm               0
lng                           0
lat                           0
dtype: int64